body{
    background-color: black;

}

body{
    color: white;
}

.clicked{
    color: #7f8c8d;
}

.bottom{
    cursor: pointer;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}

.bgImageWide{
    position: absolute;

    margin-left: auto;
    margin-right:auto;
    height:100%;

    opacity:0.75;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.bgImageTall{
    position: absolute;

    margin: left 2000px;
    margin-right:auto;
    width:100%;

    opacity:0.75;
    z-index: -1;
    animation: fadeIn .5s linear;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 0.75;
    }
}